@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Space Mono', monospace;
}
.search-container{
  box-shadow:  16px 30px -10px rgba(70, 96, 187, 0.2);
}
.blue-color {
  color: #4b6a9b;
}
.active{
  display: flex;
}